.about-card-section {
    padding: 125px 0 80px;
}
.about-card-section_wrapper {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    justify-content: center;
}
.about-card-section_sub-wrapper {
    display: flex;
    align-items: center;
    margin: 0 -12px;
}
.about-card-section_inner-card {
    width: 33.33%;
    padding: 0 12px;
    height: 100%;
    position: relative;
    min-height: 354px;
}
.about-card-section_card-wrap {
    height: 100%;
    padding: 0 20px 0px;
}
.about-card-section_image {
    max-width: 286px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid#fff;
}
.about-card-section img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.about-card-section_content-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 185px;
    text-align: center;
}
.about-card-section_title {
    font-size: 22px;
    text-transform: capitalize;
    margin: 0 0 13px;
    line-height: 1.1;
    letter-spacing: 2px;
}
.about-card-section_description {
    font-size: 16px;
    margin: 0 0;
    line-height: 1.25;
    letter-spacing: .04em;
}
.about-card-section_description p{
    margin: 0;
}
@media screen and (max-width:1279px) {
    .about-card-section {
        padding: 116px 0 60px;
    }
    .about-card-section_sub-wrapper {
        margin: 0 -5px;
        width: 100%;
    }
    .about-card-section_inner-card {
        padding: 0 5px;
    }
    .about-card-section_card-wrap {
        padding: 40px 10px 50px;
    }
    .about-card-section_image {
        max-width: 250px;
    }
    .about-card-section_content-area {
        max-width: 277px;
        margin: 0 auto;
    }
    .about-card-section_description {
        font-size: 14px;
    }
    .about-card-section_title {
        font-size: 20px;
    }
}
@media screen and (max-width:990px){
    .about-card-section {
        padding: 100px 0 60px;
    }
    .about-card-section_sub-wrapper {
        flex-wrap: wrap;
        margin: 0 -15px -130px;
    }
    .about-card-section_card-wrap {
        padding: 100px 10px 50px;
    }
    .about-card-section_inner-card {
        width: 50%;
        min-height: 300px;
        max-height: 300px;
        margin-bottom: 130px;
    }
    .about-card-section_image {
        max-width: 220px;
    }
    .about-card-section_content-area {
        max-width: 308px;
        padding-top:40px;
    }
    .about-card-section_description {
        font-size: 16px;
    }
}
@media screen and (max-width:767px){
    .about-card-section {
        padding: 85px 0 50px;
    }
    .about-card-section_wrapper {
        padding: 0 31px;
    }
    .about-card-section_sub-wrapper {
        margin: 0 0 -114px;
    }
    .about-card-section_inner-card {
        width: 100%;
        padding: 0 0;
        max-height: 240px;
        min-height: 240px;
        margin-bottom: 114px;
    }
    .about-card-section_card-wrap {
        padding: 0px 10px 0px;
    }
    .about-card-section_content-area {
        max-width: 276px;
        padding-top:100px;
    }
    .about-card-section_title {
        font-size: 18px;
        line-height: 1.33;
        margin: 0 0 5px;
        letter-spacing: 1px;
    }
    .about-card-section_description {
        font-size: 14px;
        line-height: 1.28;
    }
    .about-card-section_image {
        max-width: 182px;
        border: 5px solid #fff;
    }
}